.App {
  text-align: center;
}

.cashLabel {
  font-size: 3rem;
}

button {
  font-size: 1.5rem;
  background-color: cadetblue;
  width: 300px;
  height: 50px;
  margin: 20px;
  border-radius: 5px;
  color: white;
  border: none;
}

.clientName {
  font-size: 2rem;
}
